<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-5 text-right">
            <h1>0</h1>
        </div>
        <div class="col-sm-1 align-self-end text-center">
            <h4>x</h4>
        </div>
        <div class="col-sm-5 text-left">
            <h1>0</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-5 text-right border-top rounded-top border-primary" style="border-top-width: 3px !important;">
            <h4 class="mt-2">B. Team</h4>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5 text-left border-top rounded-top border-warning" style="border-top-width: 3px !important;">
            <h4 class="mt-2">Y. Team</h4>
        </div>
    </div>
</div>
