<div class="container">
  <table class="mx-auto table table-borderless table-striped">
    <tbody>
      <tr>
        <td class="text-right">0</td>
        <td class="text-center text-warning px-4">
          <span class="oi oi-media-stop"></span>
        </td>
        <td class="text-left">0</td>
      </tr>
      <tr>
        <td class="text-right">0</td>
        <td class="text-center text-danger">
          <span class="oi oi-media-stop"></span>
        </td>
        <td class="text-left">0</td>
      </tr>
      <tr>
        <td class="text-right">0</td>
        <td class="text-center text-info">
          <span class="oi oi-clock"></span>
        </td>
        <td class="text-left">0</td>
      </tr>
      <tr>
        <td class="text-right">0</td>
        <td class="text-center text-secondary">
          <span class="oi oi-timer"></span>
        </td>
        <td class="text-left">0</td>
      </tr>
    </tbody>
  </table>
</div>
